* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: roboto, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin-left: 5px;
}

#generator, select {
    margin: 15px 5px;
    padding: 5px 30px;
}

main {
    background-color: rgb(127, 255, 212);
}

#grid {
    width: 500px;
    height: 500px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.cell-1 {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

.cell-2 {
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black; 
}

.cell-3 {
    width: 71px;
    height: 71px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black; 
}

.active {
    background-color: blue;
}